@import url("https://fonts.googleapis.com/css2?family=Birthstone&family=Poppins:wght@300;500;600;700&family=Grey+Qo&family=Parisienne&family=Roboto:wght@300;400&family=Ubuntu:wght@400;500;700&display=swap");
*, ::before, ::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: 300;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  background: #fff;
}

.navigation {
  background: #b4e0eb;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navigation li {
  padding: 1rem;
}
.navigation-left {
  display: flex;
  align-items: center;
}
.navigation-left li:first-child {
  display: flex;
  align-items: center;
}
.navigation-left li:first-child ion-icon {
  margin: 0 0.5rem;
}
.navigation h2 {
  font-weight: 700;
  text-align: center;
}
.navigation-right {
  display: flex;
  align-items: center;
}
.navigation-right input {
  border: none;
  width: 100px;
  border-bottom: 1px solid #000;
  opacity: 0.5;
}
.navigation-right input:focus {
  outline: none;
}

@media screen and (max-width: 650px) {
  .navigation {
    flex-direction: column;
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}
.container-first {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.container-first-text {
  background: #b4e0eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 450px;
}
.container-first-text h2 {
  font-weight: 700;
}
.container-first-text p {
  text-align: center;
  margin: 1rem;
}
.container-first-text button {
  position: relative;
  background: #000;
  border: none;
  padding: 1rem;
  letter-spacing: 2px;
  font-weight: 500;
  color: #fff;
  overflow: hidden;
  cursor: pointer;
}
.container-first-text button::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(100%, -50%);
  height: 200%;
  width: 110%;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.container-first-text button:hover::before {
  transform: translate(-18%, -50%);
  background: #ffffff57;
}
.container-second {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}
.container-second-card:first-child {
  position: relative;
}
.container-second-card:first-child::before {
  position: absolute;
  content: "";
  z-index: -1;
  background: #b4e0eb;
  width: 300px;
  height: 500px;
  top: -2.7rem;
  left: -2.7rem;
}
.container-second-card:last-child {
  position: relative;
}
.container-second-card:last-child::before {
  position: absolute;
  content: "";
  z-index: -1;
  background: #000;
  width: 300px;
  height: 500px;
  top: -2.7rem;
  right: -2.7rem;
}
.container-second-card {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-second-card img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 500px;
  margin-bottom: 1.5rem;
  cursor: pointer;
}
.container-second-card h2 {
  font-weight: 700;
  font-size: 23px;
}
.container-second-card p {
  text-align: center;
  margin: 0 1rem;
  padding: 0.5rem 0;
}
.container-third {
  position: relative;
  width: 100%;
  background: #dbeaf1;
  margin: 4rem 0;
}
.container-third-img {
  position: absolute;
  right: 10rem;
  top: 0;
  z-index: 2;
  background: #fff;
  height: 100%;
}
.container-third-img img {
  margin: 2rem 2rem;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}
.container-third-card {
  width: 100%;
  background: #dbeaf1;
}
.container-third-card .third-card {
  background: #fff;
  width: 500px;
  height: 300px;
  margin: 1rem 0 1rem 2rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container-third-card .third-card h2 {
  font-weight: 700;
}
.container-third-card .third-card p {
  padding: 1rem 0;
}
.container-third-card .third-card button {
  position: relative;
  background: #000;
  border: none;
  padding: 1rem;
  width: 150px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #fff;
  overflow: hidden;
  cursor: pointer;
}
.container-third-card .third-card button::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(100%, -50%);
  height: 200%;
  width: 110%;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.container-third-card .third-card button:hover::before {
  transform: translate(-18%, -50%);
  background: #ffffff57;
}

.footer {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-header {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-header h2 {
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.footer-header p {
  text-align: center;
  margin: 0.5rem 0;
}
.footer-footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 3rem;
}
.footer-footer::before {
  position: absolute;
  content: "";
  height: 75%;
  width: 100%;
  z-index: -1;
  top: -2rem;
  background: #b4e0eb;
}
.footer-footer h2 {
  font-weight: 700;
}
.footer-footer-img {
  margin: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-footer-img img {
  width: 100px;
  height: 100px;
  margin: 1rem;
  transition: transform 0.3s ease-in-out;
}
.footer-footer-img img:hover {
  cursor: pointer;
  transform: translateY(-5px);
}/*# sourceMappingURL=index.css.map */